<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <!--Contain a form for editting a new vehicle to the inventory table.-->
                    <form id="updateForm" action="/inv/update" method="post">
                        <label for="inv_make"><strong>Inventory Make</strong></label>
                        <input type="text" name="inv_make" pattern="^[a-zA-Z\s]*$" id="inv_make" required
                            value="<%= locals.inv_make %>">
                        <label for="inv_model"><strong>Inventory Model</strong></label>
                        <input type="text" name="inv_model" pattern="^[a-zA-Z\s]*$" id="inv_model" required
                            value="<%= locals.inv_model %>">
                        <label for="inv_year"><strong>Inventory Year</strong></label>
                        <input type="number" name="inv_year" id="inv_year" required value="<%= locals.inv_year %>">
                        <label for="inv_description"><strong>Inventory Description</strong></label>
                        <input type="text" name="inv_description" id="inv_description" required
                            value="<%= locals.inv_description %>">
                        <label for="inv_image"><strong>Inventory Image</strong></label>
                        <input type="text" name="inv_image" id="inv_image" required value="<%= locals.inv_image %>">
                        readonly>
                        <label for="inv_thumbnail"><strong>Inventory Thumbail</strong></label>
                        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required
                            value="<%= locals.inv_thumbnail %>"> readonly>
                        <label for="inv_price"><strong>Inventory Price</strong></label>
                        <input type="number" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>">
                        <label for="inv_miles"><strong>Inventory Miles</strong></label>
                        <input type="number" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>">
                        <label for="inv_color"><strong>Inventory Color</strong></label>
                        <input type="text" name="inv_color" pattern="^[a-zA-Z\s]*$" id="inv_color" required
                            value="<%= locals.inv_color %>">
                        <%- select_classification %>
                            <input type="submit" id="update-vehicle" value="Update Vehicle" disabled />
                            <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                                <% } %>>
                    </form>